extends ./layout.jade
		
mixin navItem(title, classValue)
	td(class=classValue)
		p(class="title") #{title}
		h3(class="value")
		p(class="value2")

block title
	| SCC

block body
	table(class="navbar-cutsom navbar-default")
		tr
			+navItem("", "restTime")
			+navItem("Anzahl Schüsse", "anzahlShots")
			+navItem("Schnitt", "schnitt")
			+navItem("Gesamt", "ringeGesamt")
		
	div(id="modules")
		div(class="grafik col-xs-7")
			canvas(id="grafik" width="2000" height="2000")
		
		div(class="aktuellerSchuss col-xs-5")
			h3(class="value col-xs-6")
			p(class="value2 col-xs-6")
		
		div(class="aktuelleSerie col-xs-2")
				h3 Aktuelle Serie
				table(class="table")
		
		div(class="serien col-xs-2 col-xs-offset-1")
				h3 Serien
				ul(class="list-inline")
			
	table(class="navbar-cutsom navbar-default")
		tr
			+navItem("Name", "name")
			+navItem("Verein", "verein")
			+navItem("Uhr", "time")
			+navItem("Disziplin", "disziplin")
			+navItem("Scheibe", "newTarget")
			+navItem("Modus", "switchToMatch")
		
