doctype html
html(lang="de" ng-app="dsc" ng-controller="session")
	head
		title DSC - #{config.line.title}
		
		// favicon
		link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
		link(rel="icon" href="/favicon.ico" type="image/x-icon")
			
		link(href="/css/style.css", rel="stylesheet")
		
		// jquery
		script(src="/libs/jquery/dist/jquery.js")
		
		// bootstrap
		script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
		
		// Angular
		script(src="/libs/angularjs/angular.min.js")
		script(src='/libs/angular-route/angular-route.js')
		
		// Angular QR
		script(src="/libs/qrcode/lib/qrcode.min.js")
		script(src="/libs/angular-qr/angular-qr.min.js")
		
		// Socket io
		script(src="/socket.io/socket.io.js")
		script(src="/libs/angular-socket-io/socket.js")
		
		script(src='js/services/grafik.js')
		script(src='js/services/socketio.js')
		script(src='js/services/dscAPI.js')
		script(src='js/services/timeFunctions.js')
		script(src='js/controllers/info.js')
		script(src='js/controllers/session.js')
		
		// Shortcut module
		script(src="/js/services/shortcut.js")
	
		meta(name="viewport", content="width=device-width")
	body
	
		div(class="modal" id="overlayMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="overlayController")
			div(class="modal-dialog" role="document")
				.modal-content
					.modal-header
						h2(class="modal-title" id="myModalLabel") {{infoObject.title}}
					.modal-body
						br
						p {{infoObject.text}}
						br
		
		div(class="modal" id="disziplinMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="menuDisziplinen")
			div(class="modal-dialog modal-lg" role="document")
				.modal-content
					.modal-header
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") &times;
						h4(class="modal-title" id="myModalLabel") Disziplin
					.modal-body
						.row
							div(class="col-xs-4" ng-repeat="group in disziplinen.groups track by $index")
								p(class='menuItem') {{group.title}}
								ul(class="list-group")
									a(class="list-group-item {{isActive(id)}}" ng-repeat="id in group.disziplinen track by $index" ng-click="setDisziplien(id)") {{disziplinen.all[id].title}}
									
					.modal-footer
						button(type="button" class="btn btn-default" data-dismiss="modal") Schließen
		
		
		
		div(class="modal" id="userMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="menuUser")
			div(class="modal-dialog" role="document")
				.modal-content
					.modal-header
						ul(class="nav nav nav-pills nav-justified" role="tablist")
							li(role="presentation" class="active")
								a(href="#view" aria-controls="view" role="tab" data-toggle="tab") Betrachten
							li(role="presentation")
								a(href="#manage" aria-controls="manage" role="tab" data-toggle="tab") Verwalten		
					.tab-content
						div(role="tabpanel" class="tab-pane active" id="view")
							div(class="modal-body qr")
								qr(text="url" size="400")
							.modal-footer
								button(type="button" class="btn btn-link" style="float:left;") {{url}}
								button(type="button" class="btn btn-default" data-dismiss="modal") Schließen
						div(role="tabpanel" class="tab-pane" id="manage")
							div(class="modal-body qr")
								qr(text="adminUrl" size="400")
							.modal-footer
								button(type="button" class="btn btn-link" style="float:left;") {{adminUrl}}
								button(type="button" class="btn btn-default" data-dismiss="modal") Schließen
		
		
		
		div(class="modal" id="modeMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="menuParts")
			div(class="modal-dialog" role="document")
				.modal-content
					.modal-header
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") &times;
						h4(class="modal-title" id="myModalLabel") Modus
					.modal-body
						.row
							div(class="col-xs-10 col-xs-offset-1")
								p(class="menuItem") {{disziplin}}
								ul(class="list-group")
									a(class="list-group-item {{part.active}}" ng-repeat="part in parts track by $index" ng-click="switchToPart(part.id)") {{part.title}}
					.modal-footer
						div(class="btn-group" role="group" style="float:left;" aria-label="...")
							button(type="button" class="btn btn-default" ng-click="print(false)") Serien Drucken
							button(type="button" class="btn btn-default" ng-click="print(true)") Alles Drucken
						
						button(type="button" class="btn btn-default" data-dismiss="modal") Schließen



		div(ng-controller="shortcut")
		div(class="status" style="position:absolute;" ng-controller="connection")
			div(style="background-color:{{color}}")
		table(class="navbar-cutsom navbar-default")
			tr
				td(ng-controller="time" ng-hide="hidden")
					h4 Uhr
					h3 {{time}}
					h4 {{date}}
				td(ng-controller="restTime" ng-hide="hidden")
					h4 {{label}}
					h3 {{rest}}
					h4 {{gesamt}}
				td(ng-controller="anzahlShots" ng-hide="hidden")
					h4 Schüsse
					h3 {{gesamt}}
					h4 {{serie}}
				td(ng-controller="schnitt" ng-hide="hidden")
					h4 Schnitt
					h3 {{schnitt}}
					h4 {{schnittCalc}}
				td(ng-controller="ringeGesamt" ng-hide="hidden")
					h4 Gesamt
					h3 {{gesamt}}
					h4 {{gesamtSerie}}
		
		div(class="modules")
			div(ng-controller="grafik" class="grafikController col-xs-7 noPadding grafik")
				target(zoomlevel="zoomlevel" serie="serie" selectedshotindex="selectedshotindex" scheibe="scheibe" probeecke="probeecke" class="grafik")
			
			div(class="col-xs-5 noPadding fullHeight info")
				.col-xs-12
					div(class="grayBox" ng-controller="aktuellerSchuss" ng-hide="hidden")
						span(style='font-size:9vmin; float:left; margin-left:1vw; margin-top:-0.4vw; position:absolute; display:block; transform-origin: 50% 50%; -webkit-transform:rotate({{currentShot.winkel}}deg)' ng-bind-html="currentShot.pfeil")
						table
							tr
								td
									h1(animate-on-change='currentShot') {{currentShot.ring}}
							tr
								td
									h2(animate-on-change='currentShot') {{currentShot.teiler}} Teiler
			
				div(class="col-xs-6 fullHeight")
					div(class="aktuelleSerie grayBox" ng-controller="aktuelleSerie" ng-hide="hidden")
						h3 Aktuelle Serie
						table
							tr(ng-repeat="shot in aktuelleSerie track by $index" ng-click="selectShot(shot.index)")
								td {{shot.number}}.
								td(class="{{shot.selectedClass}}") {{shot.value}}
								td
									span(style="margin-top:-2.2vh; display:block; margin-top: 4%; transform-origin: 50% 50%; -webkit-transform:rotate({{shot.winkel}}deg)" ng-bind-html="shot.arrow")
				
				div(class="col-xs-6 fullHeight")
					div(class="serien grayBox" ng-controller="serien" ng-hide="hidden")
						h3 Serien
						ul(class="list-inline")
							li(ng-repeat="shot in serien track by $index" class="col-xs-3" ng-click="selectSerie(shot.index)" class="{{shot.selectedClass}}") {{shot.value}}
						
					
		div(class="version") 
			p #{config.version.version}	
		table(class="navbar-cutsom navbar-default")
			tr
				td(ng-controller="name" ng-hide="hidden" ng-click="openUserMenu()")
					h4 Name
					h3 {{name}}
					h4 {{line}}
				td(ng-controller="verein" ng-hide="hidden")
					h4 Verein
					h3 {{verein}}
					h4 {{manschaft}}
				td(ng-controller="disziplin" ng-hide="hidden" ng-click="openDisziplinMenu()")
					h4 Disziplin
					h3 {{disziplin}}
					h4 {{scheibe}}
				td(ng-controller="newTarget" ng-hide="hidden" ng-click="newTarget()")
					h4 Scheibe
					h3 Neue Scheibe
					h4
				td(ng-controller="part" ng-hide="hidden" ng-click="openPartsMenu()")
					h4 Modus
					h3 {{activePart}}
					h4
					
		script.
			angular.module("dsc", [
				"dsc.services.grafik", "dsc.services.socketio", "dsc.services.timeFunctions", "dsc.services.dscAPI",
				"dsc.controllers.info", "dsc.controllers.session",
				"ja.qr",
			])
