extends ./layout.jade

block title
	| SCC

block body
	h1
		block title
	div(id="user")
		h2 User Stuff
		form
			div
				p User ID
				input(type="text")
			input(type="submit")
	
	div(id="mode")
		h2 Shooting Mode
		p LG/ LP etc...
	
	div(id="modules")
		h2 Modules
		ul
			li Grafik
			li Aktueller Schuss
			li Aktuelle Serie
			li Serien
			li Gesamt Serie
			li Gesamt
			li Stand Nummer
			li Stand Name
			li Status log
			li Disziplinen
			li Modies
	
	div(id="logs")
		h2 Logs
		div(class="box")
