extends ./layout.jade
		
mixin navItem(title, classValue)
	td(class=classValue)
		h4(class="title") #{title}
		h3(class="value")
		h4(class="value2")

block title
	| SCC

block body
	table(class="navbar-cutsom navbar-default")
		tr
			+navItem("", "restTime")
			+navItem("Anzahl Schüsse", "anzahlShots")
			+navItem("Schnitt", "schnitt")
			+navItem("Gesamt", "ringeGesamt")
		
	div(id="modules")
		div(class="col-xs-7 grafik noPadding fullHeight")
			canvas(id="grafik" width="2000" height="2000")
		
		div(class="col-xs-5 noPadding fullHeight")
			.col-xs-12
				div(class="aktuellerSchuss grayBox")
					table
						tr
							td
								h1(class="value")
						tr
							td
								h2(class="value2")
		
			div(class="col-xs-6 fullHeight")
				div(class="aktuelleSerie grayBox")
					h3 Aktuelle Serie
					table
			div(class="col-xs-6 fullHeight")
				div(class="serien grayBox")
					h3 Serien
					ul(class="list-inline")
			
	table(class="navbar-cutsom navbar-default")
		tr
			+navItem("Name", "name")
			+navItem("", "verein")
			+navItem("Uhr", "time")
			+navItem("Disziplin", "disziplin")
			+navItem("Scheibe", "newTarget")
			+navItem("Modus", "switchToMatch")
		
