extends ./layout.jade

block title
	| SCC

block body
	div(id="modules" class="row")
		// Stand Nummer
		// Stand Name
		// Status log
		// Disziplinen
		// Modies
		
		
		div(class="grafik" class="col-xs-6")
			div(class="panel panel-default")
				div(class="panel-body")
					canvas(id="grafik" width="800" height="800")
			
		div(class="aktuellerSchuss" class="col-xs-3")
			div(class="panel panel-default")
				div(class="panel-heading")
					h3 Aktueller Schuss
				div(class="panel-body")
					p
					
		div(class="ringeGesamt" class="col-xs-3")
			div(class="panel panel-default")
				div(class="panel-heading")
					h3 Gesamt
				div(class="panel-body")
					p
			
		div(class="serien panel" class="col-xs-3")
			div(class="panel panel-default")
				div(class="panel-heading")
					h3 Serien
				div(class="panel-body")
					ul(class="list-group")
			
		div(class="aktuelleSerie" class="col-xs-3")
			div(class="panel panel-default")
				div(class="panel-heading")
					h3 Aktuelle Serie
				div(class="panel-body")
					ul(class="list-group")
			
		div(class="ringeAktuelleSerie" class="col-xs-3")
			div(class="panel panel-default")
				div(class="panel-heading")
					h3 Ringe Aktuelle Serie
				div(class="panel-body")
					p
					
		div(class="anzahlShots" class="col-xs-3")
			div(class="panel panel-default")
				div(class="panel-heading")
					h3 Anzahl Schüsse
				div(class="panel-body")
					p
				
		div(class="anzahlShotsSerie" class="col-xs-3")
			div(class="panel panel-default")
				div(class="panel-heading")
					h3 Anzahl Schüsse Serie
				div(class="panel-body")
					p
				
		div(class="schnitt" class="col-xs-3")
			div(class="panel panel-default")
				div(class="panel-heading")
					h3 Anzahl Schüsse Serie
				div(class="panel-body")
					p
					
		div(class="teiler" class="col-xs-3")
			div(class="panel panel-default")
				div(class="panel-heading")
					h3 Teiler
				div(class="panel-body")
					p
