extends ./layout.jade

block title
	| SCC

block body
	h1
		//block title
	//div(id="user")
	//	h2 User Stuff
	//	form
	//		div
	//			p User ID
	//			input(type="text")
	//		input(type="submit")

	//div(id="mode")
	//	h2 Shooting Mode
	//	p LG/ LP etc...

	div(id="modules")
		//h2 Modules
		// Stand Nummer
		// Stand Name
		// Status log
		// Disziplinen
		// Modies


		div(class="aktuellerSchuss")
			h3 Aktueller Schuss
			p
		div(class="ringeGesamt")
			h3 Gesamt
			p
		div(class="serien")
			h3 Serien
			ul
		div(class="aktuelleSerie")
			h3 Aktuelle Serie
			ul
		div(class="ringeAktuelleSerie")
			h3 Ringe Aktuelle Serie
			p
		div(class="anzahlShots")
			h3 Schüsse
			p
		div(class="anzahlShotsSerie")
			h3 Schüsse Serie
			p
		div(class="schnitt")
			h3 Schnitt
			p
		div(class="grafik")
			h3 Grafik
			canvas(id="grafik" width="1200" height="1200")

	//div(id="logs")
	//	h2 Logs
	//	div(class="box")
