extends ./layout.jade

mixin navItem3(title, classValue)
	div(class=classValue+" col-xs-3")
		+navItem(title)
		
mixin navItem2(title, classValue)
	div(class=classValue+" col-xs-2")
		+navItem(title)
		
mixin navItem(title)
	p #{title}
	h3(class="value")
	p(class="value2")

block title
	| SCC

block body
	nav(class="navbar-cutsom navbar-default")
		+navItem3("Verbleibende Zeit", "restTime")
		+navItem3("Anzahl Schüsse", "anzahlShots")
		+navItem3("Schnitt", "schnitt")
		+navItem3("Gesamt", "ringeGesamt")
		
	div(id="modules")
		div(class="grafik col-xs-7")
			canvas(id="grafik" width="2000" height="2000")
		
		div(class="aktuellerSchuss col-xs-5")
			p #{title}
			h3(class="value col-xs-6")
			p(class="value2 col-xs-6")
		
		div(class="aktuelleSerie col-xs-2")
				h3 Aktuelle Serie
				table(class="table")
		
		div(class="serien col-xs-2 col-xs-offset-1")
				h3 Serien
				ul(class="list-inline")
			
	nav(class="navbar-cutsom navbar-default")
		+navItem2("Name", "name")
		+navItem2("Verein", "verein")
		+navItem2("Uhr", "time")
		+navItem2("Disziplin", "disziplin")
		+navItem2("Neue Scheibe", "neueScheibe")
		+navItem2("Match", "switchToMatch")
		
