extends ./layout.jade

mixin navItem(title, classValue)
	div(class=classValue+" container w20 h100")
		p #{title}
		h3(class="value")
		p(class="value2")

block title
	| SCC

block body
	nav(class="navbar navbar-default")
		+navItem("Aktueller Schuss", "aktuellerSchuss")
		+navItem("Anzahl Schüsse", "anzahlShots")
		+navItem("Schnitt", "schnitt")
		+navItem("Gesamt", "ringeGesamt")
		+navItem("Disziplin", "disziplin")

	div(id="modules")
		div(class="container w60 h100")		
			div(class="grafik container w100 h100")
				canvas(id="grafik" width="2000" height="2000")
		
		div(class="container w20 h100")
			div(class="aktuelleSerie container w90 h100")
				h3 Aktuelle Serie
				table(class="table")
			
		div(class="container w20 h100")
			div(class="serien container w90 h100")
				h3 Serien
				table(class="table")
			
	nav(class="navbar navbar-default")
		+navItem("Name", "name")
		+navItem("Verein", "verein")
		+navItem("Uhr", "time")
		+navItem("Verbleibende Zeit", "restTime")
		
		div(class="menu container w20 h100")
			p Logout/ Disziplin
			h3 Menü
