doctype html
html(lang="de")
	head
		title 
			block title
			
		link(href="/css/style.css", rel="stylesheet")
		
		script(src="/js/jquery-2.1.4.min.js")
		script(src="/socket.io/socket.io.js")
		script(src="/js/bootstrap.min.js")
	
		meta(name="viewport", content="width=device-width")
	body
		nav(class="navbar navbar-default")
			div(class="aktuellerSchuss container w20 h100")
				p Aktueller Schuss
				h2(class="value")
				p(class="value2")
			div(class="anzahlShots container w20 h100")
				p Anzahl Schüsse
				h2(class="value")
				p(class="value2")
			div(class="schnitt container w20 h100")
				p Schnitt
				h2(class="value")
				p(class="value2")
			div(class="ringeGesamt container w20 h100")
				p Gesamt
				h2(class="value")
				p(class="value2")
			div(class="container w20 h100")
				p Logout/ Disziplin
				h2 Menü
					

		block body
		nav(class="navbar navbar-default")
			div(class="container w20 h100")
				p Stand
				h2 Stand 1
			div(class="container w20 h100")
				p Name
				h2 Max Mustermann
			div(class="container w20 h100")
				p Verein
				h2 SV Diana Dettingen
			div(class="container w20 h100")
				p Uhr
				h2 09:41 Uhr
			div(class="container w20 h100")
				p Verbleibende Zeit
				h2 09:20 min
				
		script(src="/js/index.js")
