doctype html
html(lang="en")
	head
		title 
			block title
		script(src="/socket.io/socket.io.js")
		script.
			var socket = io()
			socket.on('some event', function(msg){
				alert(msg.for)
			});
	body
		block body
