doctype html
html(lang="de")
	head
		title 
			block title
			
		link(href="/css/style.css", rel="stylesheet")
		
		script(src="/js/jquery-2.1.4.min.js")
		script(src="/js/shortcut.js")
		script(src="/socket.io/socket.io.js")
		script(src="/js/bootstrap.min.js")
	
		meta(name="viewport", content="width=device-width")
	body
		block body

		div(class="modal" id="mainMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
			div(class="modal-dialog" role="document")
				div(class="modal-content")
					div(class="modal-header")
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") &times;
						h4(class="modal-title" id="myModalLabel") Sitzung
					div(class="modal-body")
						
						div(class="list-group")
							a(class="actionNewTarget menuItem list-group-item") Neue Scheibe
							a(class="actionMatch menuItem list-group-item") Match
							a(class="loadSession menuItem list-group-item") Sitzung laden
									
					div(class="modal-footer")
						button(type="button" class="btn btn-default" data-dismiss="modal") Close



		div(class="modal" id="disziplinMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
			div(class="modal-dialog" role="document")
				div(class="modal-content")
					div(class="modal-header")
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") &times;
						h4(class="modal-title" id="myModalLabel") Disziplin
					div(class="modal-body")
					
						div(class="list-group")
									
					div(class="modal-footer")
						button(type="button" class="btn btn-default" data-dismiss="modal") Close



		div(class="modal" id="userMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
			div(class="modal-dialog" role="document")
				div(class="modal-content")
					div(class="modal-header")
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") &times;
						h4(class="modal-title" id="myModalLabel") Menü
					div(class="modal-body")
					
						div(class="panel panel-default")
							div(class="panel-heading") Benutzer
							div(class="panel-body")
								div(class="list-group")
									a(class="selectUser menuItem list-group-item") Benutzer wählen
									a(class="selectUserGast menuItem list-group-item") Gast
							
					div(class="modal-footer")
						button(type="button" class="btn btn-default" data-dismiss="modal") Close
		
		
		
		
		div(class="modal" id="modeMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
			div(class="modal-dialog" role="document")
				div(class="modal-content")
					div(class="modal-header")
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") &times;
						h4(class="modal-title" id="myModalLabel") Modes
					div(class="modal-body")
					
						div(class="panel panel-default")
							//- div(class="panel-heading")
							//- div(class="panel-body")
							div(class="list-group")
								a(class="selectUser menuItem list-group-item")
											
					div(class="modal-footer")
						button(type="button" class="btn btn-default" data-dismiss="modal") Close
		
		
		script(src="/js/modules.js")
		script(src="/js/index.js")
