doctype html
html(lang="de")
	head
		title 
			block title
			
		link(href="/css/style.css", rel="stylesheet")
		
		script(src="/js/jquery-2.1.4.min.js")
		script(src="/socket.io/socket.io.js")
		script(src="/js/bootstrap.min.js")
	
		meta(name="viewport", content="width=device-width")
	body
		block body

		div(class="modal fade" id="mainMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
			div(class="modal-dialog" role="document")
				div(class="modal-content")
					div(class="modal-header")
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") &times;
						h4(class="modal-title" id="myModalLabel") Menü
					div(class="modal-body")
						div(class="list-group")
							p(class="actionNewTarget list-group-item") Neue Scheibe
							p(class="actionMatch list-group-item") Match
					div(class="modal-footer")
						button(type="button" class="btn btn-default" data-dismiss="modal") Close
		
		
		
		script(src="/js/modules.js")
		script(src="/js/index.js")
