doctype html
html(lang="de" ng-app="myApp")
	head
		title 
			block title
			
		link(href="/css/style.css", rel="stylesheet")
		
		script(src="/libs/jquery/dist/jquery.js")
		script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
		script(src="/libs/angularjs/angular.min.js")
		script(src='libs/angular-route/angular-route.js')
		script(src="/libs/angular-socket-io/socket.js")
		
		script(src="/js/shortcut.js")
		script(src="/socket.io/socket.io.js")
		
		script(src='js/services/socketio.js')
		script(src='js/services/timeFunctions.js')
		script(src='js/controllers/info.js')
		script(src='js/controllers/session.js')

		
		
	
		meta(name="viewport", content="width=device-width")
	body
		block body

		div(class="modal" id="mainMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
			div(class="modal-dialog" role="document")
				div(class="modal-content")
					div(class="modal-header")
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") &times;
						h4(class="modal-title" id="myModalLabel") Sitzung
					div(class="modal-body")
						
						div(class="list-group")
							a(class="actionNewTarget menuItem list-group-item") Neue Scheibe
							a(class="actionMatch menuItem list-group-item") Match
							a(class="loadSession menuItem list-group-item") Sitzung laden
									
					div(class="modal-footer")
						button(type="button" class="btn btn-default" data-dismiss="modal") Schließen
		
		
		
		div(class="modal" id="disziplinMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="menuDisziplinen")
			div(class="modal-dialog" role="document")
				div(class="modal-content")
					div(class="modal-header")
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") &times;
						h4(class="modal-title" id="myModalLabel") Disziplin
					div(class="modal-body")
						div(class="row" ng-repeat="disziplin in disziplien track by $index")
							div(class="col-xs-6 item" ng-click="setDisziplien(disziplin.id)")
								p(class='menuItem') {{disziplin.title}}
									
					div(class="modal-footer")
						button(type="button" class="btn btn-default" data-dismiss="modal") Schließen
		
		
		
		div(class="modal" id="userMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
			div(class="modal-dialog" role="document")
				div(class="modal-content")
					div(class="modal-header")
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") &times;
						h4(class="modal-title" id="myModalLabel") Menü
					div(class="modal-body")
					
						div(class="panel panel-default")
							div(class="panel-heading") Benutzer
							div(class="panel-body")
								div(class="list-group")
									a(class="selectUser menuItem list-group-item") Benutzer wählen
									a(class="selectUserGast menuItem list-group-item") Gast
							
					div(class="modal-footer")
						button(type="button" class="btn btn-default" data-dismiss="modal") Schließen
		
		
		
		
		div(class="modal" id="modeMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="parts")
			div(class="modal-dialog" role="document")
				div(class="modal-content")
					div(class="modal-header")
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") &times;
						h4(class="modal-title" id="myModalLabel") Modes
					div(class="modal-body")
					
						div(class="panel panel-default")
							div(class="list-group" ng-repeat="part in parts track by $index")
								a(class="menuItem list-group-item {{part.active}}" ng-click="switchToPart(part.id)") {{part.title}}
					
					div(class="modal-footer")
						button(type="button" class="btn btn-primary" style="float:left;" onclick="socket.emit('print', {}); $('#modeMenu').modal('hide')") Drucken
						button(type="button" class="btn btn-default" data-dismiss="modal") Schließen
		
		
		
		
		
		
		
		
		
		
		script(src="/js/modules.js")
		script(src="/js/index.js")
