doctype html
html(lang="en")
	head
		title 
			block title
		script(src="/socket.io/socket.io.js")
		script.
			var socket = io()
			socket.on('newData', function(data){
				alert(data)
			});
	body
		block body
