doctype html
html(lang="de")
	head
		title 
			block title
			
		link(href="/css/style.css", rel="stylesheet")
		
		script(src="/js/jquery-2.1.4.min.js")
		script(src="/socket.io/socket.io.js")
		script(src="/js/bootstrap.min.js")
	
		meta(name="viewport", content="width=device-width")
	body
		nav(class="navbar navbar-default")
			div(class="aktuellerSchuss container w20 h100")
				p Aktueller Schuss
				h3(class="value")
				p(class="value2")
			div(class="anzahlShots container w20 h100")
				p Anzahl Schüsse
				h3(class="value")
				p(class="value2")
			div(class="schnitt container w20 h100")
				p Schnitt
				h3(class="value")
				p(class="value2")
			div(class="ringeGesamt container w20 h100")
				p Gesamt
				h3(class="value")
				p(class="value2")
			div(class="disziplin container w20 h100")
				p Disziplin
				h3(class="value")
				p(class="value2")
					

		block body
		nav(class="navbar navbar-default")
			div(class="name container w20 h100")
				p Name
				h3(class="value")
				p Stand 1
			div(class="verein container w20 h100")
				p Verein
				h3(class="value")
				p(class="value2")
			div(class="time container w20 h100")
				p Uhr
				h3(class="value")
				p(class="value2")
			div(class="container w20 h100")
				p Verbleibende Zeit
				h3 09:20 min
				p 50 min
			div(class="container w20 h100")
				p Logout/ Disziplin
				h3 Menü
		script(src="/js/index.js")
