doctype html
html(lang="de" ng-app="dsc-log")
	head
		title Log
		
		link(href="/css/log.css", rel="stylesheet")
	
		// jquery
		script(src="/libs/jquery/dist/jquery.js")
		
		// bootstrap
		script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
		
		// Angular
		script(src="/libs/angularjs/angular.min.js")
		script(src='/libs/angular-route/angular-route.js')
		
		// Socket io
		script(src="/socket.io/socket.io.js")
		script(src="/libs/angular-socket-io/socket.js")
		
		// Angular QR
		script(src="/libs/qrcode/lib/qrcode.min.js")
		script(src="/libs/angular-qr/angular-qr.min.js")
		
		// FitText
		script(src="/libs/ngFitText/src/ng-FitText.js")
		
		script(src='/js/controllers/log.js')
		script(src='/js/services/grafik.js')
		script(src='js/services/socketio.js')
		
		meta(name="viewport", content="width=device-width")
	body
		h1 #{config.line.hostVerein.name}
			small  #{config.line.title}
	
		div(ng-controller="sessions")
			div(ng-repeat="session in sessions track by $index" class="session")
				table(class="headerTable col-xs-4 shotTable")
					tr
						th Name
						td {{session.user.firstName}} {{session.user.lastName}}
					tr
						th Datum
						td {{currentDate}}	
				table(class="headerTable col-xs-4 shotTable")
					tr
						th Verein
						td {{session.user.verein}}
					tr
						th Manschaft
						td {{session.user.manschaft}}
				table(class="headerTable col-xs-4 shotTable")
					tr
						th Disziplin
						td {{session.disziplin.title}}
					tr
						th Modus
						td {{session.disziplin.parts[session.type].title}}
				div(class="col-xs-12" ng-repeat="serie in session.serien track by $index")
					table(class="col-xs-9 shotTable")
						tr
							th
								u Nr
							th
								u Ring
							th
								u Winkel
							th
								u Teiler
							th
								u Zeit
						tr(ng-repeat="shot in serie.shots track by $index")
							td {{shot.number}}.
							td {{shot.ring.display}}
							td {{shot.winkel}}
							td {{shot.teiler}}
							td {{shot.time | formatDate}}
						tr(class="summary")
							td {{serie.anzahl}}
							th {{serie.gesamt}} Ringe
							td
							td
							td {{serie.duration | formatDuration}}
							
					div(ng-controller="grafik" ng-init='init($parent.$parent.$index, $parent.$index)' class="grafikController col-xs-3")
						target(zoomlevel="zoomlevel" serie="serie" selectedshotindex="selectedshotindex" scheibe="scheibe" probeecke="probeecke" size="size" class="grafik")
				div(ng-controller="summary" ng-init='init($parent.$index)' ng-hide="hidden" class="col-xs-12")
					table(class="col-xs-9 shotTable")
						tr
							th Anzahl
							th Gesamt
							th
							th
							th Dauer
						tr
							td {{session.anzahl}}
							th {{session.gesamt}} Ringe
							td
							td
							td {{session.duration | formatDuration}}
		
		script.
			// env vars
			var scaleFactor = "#{config.line.scaleFactor}"
		
			// init angular app
			var app = angular.module('dsc-log', [
				"ds.services.grafik",
				"dsc.services.socketio", "dsc.controllers.log",
				"btford.socket-io", "ja.qr", "ngFitText",
			])
