doctype html
html(lang="de" ng-app="dsc-print")
	head
		title Print
			
		//link(href="/css/print.css", rel="stylesheet")
		link(href="/css/print.css", rel="stylesheet")
	
		// jquery
		script(src="/libs/jquery/dist/jquery.js")
		
		// bootstrap
		script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
		
		// Angular
		script(src="/libs/angularjs/angular.min.js")
		script(src='/libs/angular-route/angular-route.js')
		
		// Socket io
		script(src="/socket.io/socket.io.js")
		script(src="/libs/angular-socket-io/socket.js")
		
		// Angular QR
		script(src="/libs/qrcode/lib/qrcode.min.js")
		script(src="/libs/angular-qr/angular-qr.min.js")
		
		script(src='/js/controllers/print.js')
		script(src='/js/services/grafik.js')
		script(src='js/services/socketio.js')
		
		meta(name="viewport", content="width=device-width")
	body
		h1 #{config.stand.hostVerein}
			small  #{config.stand.title}
	
		div(ng-controller="sessions")
			div(ng-repeat="session in sessions track by $index" class="session")
				table(class="headerTable col-xs-4 shotTable")
					tr
						th Name
						td {{session.user.firstName}} {{session.user.lastName}}
					tr
						th Datum
						td {{currentDate}}	
				table(class="headerTable col-xs-4 shotTable")
					tr
						th Verein
						td {{session.user.verein}}
					tr
						th Manschaft
						td {{session.user.manschaft}}
				table(class="headerTable col-xs-4 shotTable")
					tr
						th Disziplin
						td {{session.disziplin.title}}
					tr
						th Modus
						td {{session.disziplin.parts[session.type].title}}
				div(class="col-xs-12" ng-repeat="serie in session.serieHistory track by $index")
					table(class="col-xs-9 shotTable")
						tr
							th Nr.
							th Ring
							th Winkel
							th Teiler
							th Zeit
						tr(ng-repeat="shot in serie track by $index")
							td {{shot.number}}.
							td {{shot.ring}}
							td {{shot.winkel}}
							td {{shot.teiler}}
							td {{shot.time | formatDate}}
							
					div(ng-controller="grafik" ng-init='init($parent.$parent.$index, $parent.$index)' class="grafikController col-xs-3")
						target(zoomlevel="zoomlevel" serie="serie" selectedshotindex="selectedshotindex" scheibe="scheibe" probeecke="probeecke" size="size" class="grafik")
		
		
		script.
			var app = angular.module('dsc-print', [
				'dsc.services.socketio',
				'dsc.services.grafik',
				
				'dsc.controllers.print',

				// 3rd party dependencies
				"btford.socket-io",
				"ja.qr",
			])
		
