@import "../node_modules/bootstrap/less/bootstrap.less";


html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-size: 2.0vmin;

	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	white-space:nowrap;
}


h1, h2, h3, p {
	text-align: center;
	padding: 0;
	margin: 0;
}
h3 {
	font-size: 2.6vmin;
}
table {
	width: 100%;
}



// DEBUG
// p, span {
// 	border: 1px dotted blue;
// }
p:after, h1:after, h2:after, h3:after, h4:after {
	content: '\a0';
}


.navbar-cutsom {
	height: 10%;
	max-height: 10%;
	width: 100%;

	border: 1px #eee solid;

	table-layout: fixed;
}
#modules {
	height: 80%;
	max-height: 80%;
	max-width: 100%;
	margin: 0;
	padding: 0;
}







// Module Styling

.grafik {
	height: 100%;

	canvas {
		display: block;
		margin: 0 auto;
	}
}

.aktuelleSerie {
	overflow: hidden;

	td {
		font-size: 2.3vmin;
	}

	.table td {
		padding: 1vh;
		margin: 0;
	}
}

.serien {
	overflow: hidden;

	li {
		text-align: center;
		font-size: 2.5vmin;
	}
}

.serien, .aktuelleSerie {
	max-height: 91%;

	h3 {
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

.aktuellerSchuss {
	height: 9%;
	max-height: 9%;

	h3 {
		font-size: 6vmin;
		text-align: right;
	}
	p {
		padding-top: 1.2vmin;
		font-size: 3vmin;
		text-align: left;
	}
}
