@import "../node_modules/bootstrap/less/bootstrap.less";


html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-size: 2.0vmin;

	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	white-space:nowrap;
	text-align: center;
	font-weight: 300;
}

// html {
// 	-webkit-filter: invert(100%);
// }


h1 {
	font-size: 6vmin;
}
h2 {
	font-size: 3vmin;
	font-weight: 200;
	color: gray;
}
h3 {
	font-size: 2.6vmin;
}
h4 {
	font-size: 2.0vmin;
	font-weight: 300;
}
table {
	width: 100%;
}



// DEBUG
// h1, h2, h3, h4, p, span {
// 	border: 1px dotted blue;
// }
p:after, h1:after, h2:after, h3:after, h4:after {
	content: '\a0';
}
h1, h2, h3, h4, p {
	padding: 0;
	margin: 0;
}


// Helper classes
.noPadding {
	margin: 0px;
	padding: 0px;
}
.fullHeight {
	height: 100%;
}
.grayBox {
	margin-top: 2vh;
	padding: 1vh 0 1vh 0;
	background-color: #f8f8f8;
	border: 1px #eee solid;
}



.infoBox {
	display: none;
}




.navbar-cutsom {
	height: 10%;
	max-height: 10%;
	width: 100%;

	border: 1px #eee solid;

	table-layout: fixed;
}
#modules {
	height: 80%;
	max-height: 80%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}






// Module Styling

.grafik {
	height: 100%;
	padding: 0;

	// -webkit-filter: invert(100%);

	canvas {
		display: block;
		margin: 0 auto;
		position: relative;
	}
}

.aktuelleSerie {
	overflow: hidden;
	table-layout: fixed;

	td {
		font-size: 2.3vmin;
	}
	table td {
		padding: 0.5vh;
		margin: 0;
	}
	.table {
		padding: 0;
		margin: 0;
	}
}

.serien {
	overflow: hidden;

	li {
		font-size: 2.5vmin;
	}
}

.serien, .aktuelleSerie {
	position: relative;

	h3 {
		margin-bottom: 1em;
	}
}

.aktuellerSchuss {
	height: 9%;
	max-height: 9%;
	padding: 1vh 0 1vh 0;
}








.modal-body {
	padding-top: 0;
	padding-bottom: 0;
	font-size: 2.5vmin;

	.item {
		// background-color: green;
		padding: 1vmin;
		border: 1px #eee solid;
		border-radius: 0;
	}
	.item:hover {
		background-color: #eee;
	}
}

#disziplinMenu {
	.active {
		background-color: #eee;
	}
}






.status {
	position:absolute;
	height: 10%;

	div {
		width: 1vw;
		height: 50%;
		background-color: black;
	}
}
